@{
    ViewBag.Title = "Home Page";
}
<style>
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
    }
    a:hover {
        text-decoration: none !important;
        color: white;
    }
    li {
        padding: 0 !important;
    }
    li:hover {
        background: #4563ff;
        color: white;
    }
</style>
<div class="container">
    <ul class="list-group col-12">
        <li class="list-group-item"><a href="~/mk/waittimes">Magic Kingdom Wait Times</a></li>
        <li class="list-group-item"><a href="~/ak/waittimes/">Animal Kingdom Wait Times</a></li>
        <li class="list-group-item"><a href="~/ep/waittimes/">Epcot Wait Times</a></li>
        <li class="list-group-item"><a href="~/hs/waittimes/">Hollywood Studios Wait Times</a></li>
    </ul>
</div>